.home {
    
}

.particles-js {
    height: 100vh;
    width: 100%;
    z-index: 60;
    display: block;
    position: absolute;
}

.banner-area {
    right: 60%;
    width: 100%;
    background-image: url(/assets/img/karsten-wurth-b_8eErngWm4-unsplash.jpg);
    background-size: cover;
    z-index: -1;
    background-repeat: no-repeat;
    
}

.font-color {
    color: white;
}

.picture {
    width: 200px;
    height: 200px;
    border-radius: 300px;
    display: block;
    position: absolute;
    border: 7px solid #ffffff;
}

.imagem-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

.apresentacao {
    border-right: 1px solid rgba(255, 255, 255, .75);
    display: block;
    position: absolute;
    color: white;
    font-family: 'Special Elite', Arial, Helvetica, sans-serif;
    font-size: 2em;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

.typing-animation {
    animation: blinkcursor 500ms steps(40) infinite normal, 
    typing 3s steps(40) 1s normal both;
}

.redes-sociais {
    position: absolute;
}

.icon-btn:hover > i {
    color: black;
    background-color: white;
}


svg #wheel {
	animation: scroll ease 1.5s infinite;
}

.sobre-mim {
    width: auto;
    height: 400px;
    background-color: #0e1018;
    font-size: 30px;
    color: rgb(49, 49, 49);
    text-align: center;
}


@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 11em;
    }
}

@keyframes blinkcursor {
    from {
        border-right: 1px solid rgba(255, 255, 255, .75);
    }
    to {
        border-right-color: transparent;
    }
}